<template>
<div class="bg">
	<Header/>
  
</div>
</template>

<script>
import Header from './header'
	export default{
		name:'AboutPage',
		components:{
			Header
		},
		mounted() {
			console.log("This is About page")
		},
	}
</script>


<style scoped>

</style>