<template>
      <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div id="demo" class="carousel slide" data-ride="carousel">
               <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
               </ul>
               <div class="">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="carousel-caption">
                           <h1 class="text-white">Now buy/store/sell
                              gold anytime,
                              anywhere without
                              any hassle</h1>

                         </div>
                         <a class="buy-now-slider" href="#">BUY NOW <img src="images/arrow.png"> </a>
                         <a class="app-btn" href="#">APP STORE</a>
                         <a class="app-btn" href="#">GOOGLE PLAY</a>

                  </div>
               </div>


            </div>
            <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               </a>
               <a class="carousel-control-next" href="#demo" data-slide="next">
               <span class="carousel-control-next-icon"></span>
               </a> -->
            </div>
         </div>
         <div class="col-md-6"><div class="main-gold-sec">
            <p class="text-white">OPEN A <strong style="border-bottom: 1px solid #fff;">DGOLD ACCOUNT</strong></p>
            <div class="bg-white p-3">
               <p class="mb-0"> <a class="text-muted" href="#">EXSISTING USER</a> <a class="text-black" href="#"><strong style="border-bottom: 1px solid #ad6d00;">LOG IN</strong></a></p>
              <div class="row">
                 <div class="col-9">
                    <p class="mt-3 mb-0 float-left" style="font-size: 14px; ">24 KT Gold@₹4800.34/g</p> 
                    <p  class="bg-success text-white mt-3 pl-2 pr-2 mb-0 float-right" style="font-size: 14px; ">LIVE</p>
                    <h5>QUICK BUY</h5>
                 </div>
                 <div class="col-3">
                    <img src="http://vmi317167.contaboserver.net/design/senco/images/im4.png" width="100%">
                 </div>
              </div>
              <hr style="border-top: 1px solid #00aac8;"/>
              <div class="main-gold-sec-bg">
              <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
               <li class="nav-item">
                 <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">BUY</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">SELL</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">SIP</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="redeem-tab" data-toggle="tab" href="#redeem" role="tab" aria-controls="redeem" aria-selected="false">REDEEM</a>
                </li>
             </ul>
             <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active p-2" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="hide-show mt-3 text-white">
                     
                     <!-- radio - hide/show -->
                     <label>
                         <input type="radio" name="radio2" value="yes" checked> Rupees </label>
                     <label>
                         <input type="radio" name="radio2" value="no"> Grams</label>
                 </div>
                   <!-- #radio - hide/show -->
                   <div class="hide-show-yes contant-radio">
                     <div class="row">
                       <div class="col-md-12 text-white">
                          <label>Enter Amount (Min. ₹500)</label>
                          <div class="clearfix"></div>
                          <div class=" mb-3">
                             
                             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="500">
                          </div>
                          <div class="price-1">
                            <button class="button-p" ><i class="fa fa-inr"></i> 3000</button >
                            <button class="button-p" ><i class="fa fa-inr"></i> 5000</button >
                            <button class="button-p" ><i class="fa fa-inr"></i> 10000</button>
                          </div>
                       </div>
                       <div class="col-md-12">
                          <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">P R O C E E D</button>
                          <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                           Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                       </div>
                       <div class="cleafix"></div>
                    </div>
                   </div>
                   <!-- #yes -->
                   <div class="hide-show-no  contant-radio">
                     <div class="row">
                        <div class="col-md-12 text-white">
                           <label>Enter Amount (Min. ₹500)</label>
                           <div class="clearfix"></div>
                           <div class=" mb-3">
                              
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="500">
                           </div>
                           <div class="price-1">
                             <button class="button-p" ><i class="fa fa-inr"></i> 3000</button >
                             <button class="button-p" ><i class="fa fa-inr"></i> 5000</button >
                             <button class="button-p" ><i class="fa fa-inr"></i> 10000</button>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">P R O C E E D</button>
                           <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                            Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                        </div>
                        <div class="cleafix"></div>
                     </div>
                    <div class="cleafix"></div>
                   </div>
                   <div class="cleafix"></div>
               </div>
               <div class="tab-pane fade p-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="hide-show mt-3 text-white">
                     <h5 class="text-color-1"> Buy In </h5>
                     <!-- radio - hide/show -->
                     <label>
                     <input type="radio" name="radio1" value="yes" checked /> Rupees </label>
                     <label>
                     <input type="radio" name="radio1" value="no" /> Grams </label>
                  </div>
                  <!-- #radio - hide/show -->
                   <!-- #radio - hide/show -->
                   <div class="hide-show-yes contant-radio">
                     <div class="row">
                       <div class="col-md-12 text-white">
                          <label>Enter Amount (Min. ₹500)</label>
                          <div class="clearfix"></div>
                          <div class=" mb-3">
                             
                             <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="500">
                          </div>
                          <div class="price-1">
                            <button class="button-p" ><i class="fa fa-inr"></i> 3000</button >
                            <button class="button-p" ><i class="fa fa-inr"></i> 5000</button >
                            <button class="button-p" ><i class="fa fa-inr"></i> 10000</button>
                          </div>
                       </div>
                       <div class="col-md-12">
                          <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">P R O C E E D</button>
                          <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                           Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                       </div>
                       <div class="cleafix"></div>
                    </div>
                   </div>
                   <!-- #yes -->
                   <div class="hide-show-no  contant-radio">
                     <div class="row">
                        <div class="col-md-12 text-white">
                           <label>Enter Grams (Min. ₹500)</label>
                           <div class="clearfix"></div>
                           <div class=" mb-3">
                              
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="30 Grams">
                           </div>
                           <div class="price-1">
                             <button class="button-p" ><i class="fa fa-inr"></i> 30 Grams</button >
                             <button class="button-p" ><i class="fa fa-inr"></i> 50 Grams</button >
                             <button class="button-p" ><i class="fa fa-inr"></i> 100 Grams</button>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">P R O C E E D</button>
                           <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                            Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                        </div>
                        <div class="cleafix"></div>
                     </div>
                    <div class="cleafix"></div>
                   </div>
                   <div class="cleafix"></div>
               </div>
               <div class="tab-pane fade p-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                     <div class="row justify-content-center">
                       <div class="col-md-12">
                         <select class="custom-select" id="exampleFormControlSelect1">
                           <option>Gold</option>
                         </select>
                       </div>
                       <div class="col-md-12">
                         <select class="custom-select" id="exampleFormControlSelect1">
                           <option>No Of Years</option>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                         </select>
                       </div>
                       <div class="col-md-12">
                         <div class="input-group mb-3">
                          
                           <input type="text" class="form-control" placeholder="Amount">
                         </div>
                       </div>
                       <div class="col-md-12">
                         <div class="input-group mb-3">
                           
                           <input type="text" class="form-control" placeholder="Annual Price growth rate">
                         </div>
                       </div>
                       <div class="col-md-12">
                         <input type="text" class="form-control" placeholder="Your Grams">
                       </div>
                       <div class="col-md-12">
                        <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">SIP</button>
                        <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                         Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                     </div>
                     </div>
               </div>
               <div class="tab-pane fade p-2" id="redeem" role="tabpanel" aria-labelledby="redeem-tab">
                  <div class="row">
                     <div class="col-md-12 text-white">
                        <label>Enter Grams (Min. 50)</label>
                        <div class="clearfix"></div>
                        <div class=" mb-3">
                           
                           <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="30 Grams">
                        </div>
                        <div class="price-1">
                          <button class="button-p" ><i class="fa fa-inr"></i> 30 Grams</button >
                          <button class="button-p" ><i class="fa fa-inr"></i> 50 Grams</button >
                          <button class="button-p" ><i class="fa fa-inr"></i> 90 Grams</button>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <button class="btn btn-primary mt-4 btn-block" style="border-radius:0px;">P R O C E E D</button>
                        <p class="text-center mt-4" style="color: #999; font-size: 12px;">24k@₹5038.35/g = 22k@₹4619.1/g <br/>
                         Gold Accumulation Plan by MMTC PAMP. <a href="#">T&C Apply</a></p>
                     </div>
                     <div class="cleafix"></div>
                  </div>
               </div>
               <div class="cleafix"></div>
             </div>
             <div class="cleafix"></div>
            </div>
            <div class="cleafix"></div>
            </div>
            <div class="cleafix"></div>
         </div></div>
      </div>
   </div>
</template>

<script>
export default {
	mounted(){
		console.log("carousel Component mounted successfully");
	}
}
</script>


<style scoped>

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
.bg{
  background-image: url('http://vmi317167.contaboserver.net/design/senco/images/b1.png');
  background-size: 103%;
  background-repeat: no-repeat;
}
:focus{outline: none;}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.col-md-5-custom {
  -ms-flex: 0 0 46%;
  flex: 0 0 46%;
  max-width: 46%;
}
.col-md-2-custom {
  -ms-flex: 0 0 8%;
  flex: 0 0 8%;
  max-width: 8%;
}
.icon-a{
  margin-top:10px;
}
.top-header ul{
  float: right;
  margin: 0px;
  padding: 0px;
}
.top-header ul li{
  float: left;
  list-style: none;
}
.top-header ul li a{
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
}
header ul li {
  padding: 4px 10px;
}
header ul li a{
  color: #fff !important;
  font-size: 14px;
}
#navbar-list-2{
  margin-top: 20px;
}
.banner{

  background-position: center;
  padding-bottom: 50px;
}
.carousel  .container{
  position: relative;
}
.text-black{
  color: #000;
}
.main-gold-sec{
  position: relative;
  float: right;
  width: 100%;
  max-width: 350px;
  z-index: 99;
  margin-right: 10%;
  margin-top:10%;
}
.main-gold-sec h5{
  color: #ad6d00;
  font-weight: 600;
  font-size: 17px;
}
.banner h1{
  font-size: 35px;
  padding-top: 30px;
  color: #fff;
}
.navbar-toggler i{
  background: none;
  content: "\f0c9";
  font-family: 'FontAwesome'; 
   color: #8d021f;
}
.navbar-dark .navbar-toggler {
  border-color: rgb(162, 2, 36);
}
.main-gold-sec-bg {
  background:#12214f;
}
.how-work {
   padding: 50px 0;
   background-color: #f5f5f5;
}
.box-icon{
  text-align: center;
  padding: 10px 0px;
}
.faq{
  padding: 50px 0px;
}
.faq .nav-tabs li a, .faq .nav-tabs li a:hover{
  border:1px solid #8d021f;
  border-radius: 0px;
  font-size: 18px;
  min-width: 130px;
  margin: 0px 10px;
  color: #8d021f;
  font-weight: 700;
}
.accordion{
  margin-top: 40px;
}
.faq .nav-tabs li a.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: calc(50% - 8px);
  width: 0;
  height: 0;
  border-top: 8px solid #8d021f;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.faq .nav-tabs li a.active{
  background-color: #8d021f;
  color: #f4cc2f;
  border: 1px solid #8d021f;
}
.faq .nav-tabs {
  display: block;
  text-align: center;
}
.faq .nav-tabs li{
  display: inline-block;
  text-align: center;
  position: relative;
}
.box-icon figure{
  border:1px solid #f4cc2f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.box-icon h5{
  color: #8d021f;
}
.how-work h1{
  color: #8d021f;
}
.m-fund{
  padding: 50px 0px;
}
.main-tab{
  background-color: #ffeded;
  padding: 50px 0px;
}
.text-color-1{
  color: #8d021f;
}
.about-us{
  padding: 40px 0px;

}
.about-us h1{
  color: #8d021f;
}
.how-work .col-md-3::before{
  background-image: url('http://vmi317167.contaboserver.net/design/senco/images/right-direction-arrow.webp');
  width: 47%;
  position: absolute;
  left:75%;
  background-size: 100%;
  content: '';
  top:25%;
  height: 15px;
  background-repeat: no-repeat;
}
.how-work .col-md-3:last-child::before{
  display: none;
}
.marquee{
  padding: 5px 0px;
  background-color: #f5f5f5;
  font-weight: 700;
}
footer{
  background-color: #f7f7f7;
  padding: 20px 0px;
}
.card{
  background-color: rgba(255, 255, 255, 0.8)
}
.main-gold-sec .nav-tabs .nav-link.active {
  background-color: #12214f;
  color: #fcd96a;
  border-color: #12214f;
}
.main-gold-sec  .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #fff;
}
.main-gold-sec .nav-link {
  display: block;
  padding: .5rem 1.16rem;
  margin-top: 1px;
  color: #808285;
}
.custom-select{
  margin-bottom: 5px;
  color: #aaa;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.input-group-text{
  border:0px;
  border-bottom: 1px solid #fcd96a;
  border-radius:0px;
  background:transparent;
}
.down{
  width: 60px;
  cursor: pointer;
  margin-top:-80px;
}
.banner .input-group-text, .fund-investment .input-group-text{
  background-color: #fff;
  border-right: 0;
}
.banner .input-group-text i, .fund-investment .input-group-text i{
  color: #8d021f;
}
.fund-investment .input-group .form-control{
  border-left: 0;
}
.banner .form-control {
  height: 45px;
  border-left: 0;
}
.nav-tabs{
  border:0px
}
.nav-item .contact{
  background-color: #8d021f;
  color: #f4cc2f !important;
  border-radius: 5px;
  padding: 7px 25px !important;
  
}
.costom-body .button{
  background: #c38d14;
  color: #000;
  border:0px;
  min-width: 120px;
  display: block;
}
.card-title {
  margin-bottom: .75rem;
  color: #8d021f !important;
}
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none;
}
.m-fund .custom-select, .m-fund .input-group {
  margin-bottom: 15px;
}
.m-fund button{
  margin-top:15px
}
.video-bg{
  background-image: url('http://vmi317167.contaboserver.net/design/senco/images/video-bg.jpg');
  background-repeat: no-repeat;
  padding: 15px 15px 10px 15px;
}
.why-Digi-Gold-main{
  width: 100%;
  padding: 0px 0px;
  position: relative;
  /* background-image: url('../images/banner2.jpg'); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.why-Digi-Gold-main .overlay{
  background-color: rgba(141, 2, 31, 0.86);
  padding: 40px 0px;
}
.why-Digi-Gold-main h1{
  color: #f4cc2f;
}
.why-Digi-Gold-main h4{
  color: #f4cc2f;
}
.why-Digi-Gold-main p{
  color: #fff;
}
/* .why-Digi-Gold-main h2{
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -54px;
  border-bottom: 55px solid #1660b9;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  max-width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .why-Digi-Gold-main h2::after {
    content: '';
    position: absolute;
    -webkit-transform: perspective(100px) rotateX(20deg);
} */
.close{
  background:#8d021f !important;
  color: #f4cc2f;
  position: absolute;
  z-index: 999;
  right: -15px;
  top:-15px;
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.costom-body{
  padding: 0px;
}
.image-login{
  width: 50%;
  float: left;
  height: 100%;

}
.image-login img{
  object-fit: cover;
  max-height: 458px;
}
.login-box, .register-box{
  width: 50%;
  float: right;
  padding: 20px;
  background-image: url('http://vmi317167.contaboserver.net/design/senco/images/gold-textile.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 450px;
}
.login-box form, .register-box form{
  border:1px dashed #bf8710;
  padding: 10px 19px;
  background:rgba(255, 255, 255, .9);
  min-height: 418px;
  
}
.costom-body h1{
  text-align: center;
   font-size: 28px;
   color: #00aac8;
}
.costom-body  input {
  background-color: #eee;
  border: none;
  padding: 7px 15px;
  margin: 8px 0;
  width: 100%;
}
.costom-body a{
  display: block;
  text-align: center;
  font-size: 14px;
  color: #bf8710;
}
.sub-banner{
  padding: 100px 0px;
}
.sub-banner h2{
  color: #fff;
}
.contact-page .form-control{
  border:1px solid #aaa;
  height:35px;
}
form{
  background-color: rgba(255, 255, 255, .9);
  padding: 20px;
}
.news-slide{
  padding: 50px 0px;
}
.news-slide p{
  color: #00aac8;
  width: 95%;
  margin:0 auto;
  text-align: center;
  display: block;
  font-style: italic;
}
.news-slide .owl-theme .owl-controls .owl-nav div.owl-prev {
  position: absolute;
  top: 35px;
  left: 0;
  display: block;
  background-color: transparent;
  color: #bf8710;
}
.news-slide .owl-theme .owl-controls .owl-nav div.owl-next {
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: transparent;
  display: block;
  color: #bf8710;
}
.news-slide  i, .news-slide i, .news-slide .owl-theme .owl-controls .owl-nav div::before{
  color: #bf8710 !important;
}
.gold-blue{
  background-color: #12214f;
  margin-top:50px
}
.full-img img{
  width: 100%;
  margin-top:-136px;
}
.gold-blue h1{
  font-size: 61px;
font-weight: 700;
}
.how-it-work h1{
  font-size: 50px;
font-weight: 700;
color: #12214f;
}
.how-it-work .nav-tabs .nav-link.active, .how-it-work .nav-tabs .nav-link:hover{
  border:0px;
  color: #bf8710;
}
.how-it-work .nav {
  border-bottom: 1px solid #bf8710;
}
.box{
  display: table; 
  width: 100%; 
  padding: 10px 0px;
}
.icon-filed, .icon-text{
  display: table-cell;
  padding: 5px;
}
.icon-text h6{
  color: #fff;
  line-height: 24px;
  font-size:15px;
}
.how-it-work{
  padding: 50px 0px;
}
.how-it-work  .icon-text h6{
  color: #00aac8;
}
.icon-text p{
  color: #aaa;
  font-size:15px;
}
.news-slide .item img{
  margin-top:10px
}
.senco-adv{
  padding-top: 50px;
}
.bg-bottom{
  background-image: url('http://vmi317167.contaboserver.net/design/senco/images/footer.png');
  width: 100%;
  background-size: 100%;
  background-position:bottom;
  background-repeat: no-repeat;

}
.senco-adv h1{
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  margin-top:100px
}
.box-how{
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.box-how h6{
  color: #00aac8;
  margin-top:15px;
  font-weight: 600;
  font-size:18px;
}
.custom-col-2{
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}
.box-how p{
  font-size:14px;
  color: #333;
}
.box-how a{
  font-size:14px;
  color: #333;
}
.senco-adv hr{
  border-top:1px solid #c38d14;
  margin: 40px 0px;
}
footer{
  background-color: #12214f;
  padding: 40px 35px;
}
footer ul{
  margin:0px;
  padding: 0px;
}
footer ul li{
  list-style: none;
  width: 100%;
}
footer li a{
  width: 100%;
  color: #fff;
  float: left;
  padding: 3px 0px;
  display: block;
  font-size:14px;
  text-align: left;
}
.news-se{
  width: 320px;
  float: right;
  margin-top:-90px;
}
.news-se input{
  border:1px solid #00aac9;
  height: 34px;
  background: transparent;
  padding: 5px;
  width: 100%;
}
footer p{
  font-size:14px;
}
.news-slide  .owl-theme .owl-dots{
  text-align: center;
  margin-top:60px;
}
.owl-theme .owl-dots .owl-dot span{
  border:2px solid #00aac8;
}
.owl-theme .owl-dots .owl-dot.active span{
  background-color: #00aac8;
}
.desktop-hide{
  display: none;
}
.bg-in{
  background: url('http://vmi317167.contaboserver.net/design/senco/images/images/bg-in.png');
  background-size: 100%;
  width: 100%;
}
header .navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 980px) {

  .banner, .m-fund{
    background-size: cover !important;
  }

.icon-a{
  margin:7px 0px
}

.m-fund .custom-select, .m-fund .input-group {
  margin-bottom: 15px;
}
.m-fund button{
  margin-top:15px
}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .mobile-hide{
    display: none;
  }
  .desktop-hide{
    display: inline-block;
  }
  .carousel-caption h2{
    font-size: 18px;
  }
  .image-login{
    display: none;
  }
  .carousel-caption {
    position: absolute;
    right: 0%;
    top: 0px !important;
    left: 0%;
    width: 100%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.carousel-caption .col-md-6{
  max-width: 200px;
}
#tile-1 .nav-tabs .active {
  background-color: transparent !important;
  border: none !important;
  color: #f4cc2f !important;
  z-index: 999;
}
#tile-1 .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 5px 19px !important;
  font-size: 20px;
  border: none !important;
  color: #333;
}
#tile-1 .slider{
  max-width: 181px;
}
.hide-show, .hide-show {
  width: 100% !important;
  float: left;
}
.contant-radio {
  width: 100% !important;
  float: left;
}

.accordion{
  margin-top: 20px;
}
.carousel-caption .container{
  max-width: 100%;
}
.carousel-control-next, .carousel-control-prev{
  display: none;
}
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
  .banner, .m-fund{
    background-size: cover !important;
  }
  .nav-tabs .nav-item a {
    padding: 9.5px 16px;
    font-size: 18px;
}
.icon-a{
  margin:7px 0px
}
.col-md-5-custom , .col-md-2-custom {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.m-fund .custom-select, .m-fund .input-group {
  margin-bottom: 15px;
}
.m-fund button{
  margin-top:15px
}
.login-box{
  width: 100%;
}
.modal.show .modal-dialog {
  max-width: 90%;
  margin: 20px auto;
}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
  .mobile-hide{
    display: none;
  }
  .desktop-hide{
    display: inline-block;
  }
  .image-login{
  display: none;
}
.modal.show .modal-dialog {
  max-width: 90%;
  margin: 20px auto;
}
.login-box{
  width: 100%;
}
  .navbar-nav{
    border-top:1px solid #ccc
  }
  .carousel-caption h2{
    font-size: 18px;
  }
  .carousel-caption {
    position: absolute;
    right: 0%;
    top: 0px !important;
    left: 0%;
    width: 100%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.carousel-caption .col-md-6{
  max-width: 200px;
}
#tile-1 .nav-tabs .active {
  background-color: transparent !important;
  border: none !important;
  color: #f4cc2f !important;
  z-index: 999;
}
#tile-1 .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 5px 19px !important;
  font-size: 20px;
  border: none !important;
  color: #333;
}
#tile-1 .slider{
  max-width: 181px;
}
.hide-show, .hide-show {
  width: 100% !important;
  float: left;
}
.contant-radio {
  width: 100% !important;
  float: left;
}
.accordion{
  margin-top: 20px;
}
.carousel-caption .container{
  max-width: 100%;
}
.carousel-control-next, .carousel-control-prev{
  display: none;
}
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
  .banner, .m-fund{
    background-size: cover !important;
  }
  .nav-tabs .nav-item a {
    padding: 9.5px 16px;
    font-size: 18px;
}
.icon-a{
  margin:7px 0px
}
.col-md-5-custom , .col-md-2-custom {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.m-fund .custom-select, .m-fund .input-group {
  margin-bottom: 15px;
}
.m-fund button{
  margin-top:15px
}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-hide{
    display: none;
  }
  .desktop-hide{
    display: inline-block;
  }
  .carousel-caption h1 {
    font-size: 22px;
    padding-bottom: 18px;
}
.main-gold-sec{
  margin: 0px;
}
  .bg {

    background-size: cover

}
  .image-login{
    display: none;
  }
  .carousel-caption p{
    font-size: 8px !important;
  }
  .modal.show .modal-dialog {
    max-width: 90%;
    margin: 20px auto;
  }
  .login-box{
    width: 100%;
  }
  .navbar-nav{
    border-top:1px solid #ccc
  }
  .carousel-caption h2{
    font-size: 18px;
    margin-top: -10px;
  }
  .carousel-caption {
    position: absolute;
    right: 0%;
    top: 0px !important;
    left: 0%;
    width: 100%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.carousel-caption .col-md-6{
  max-width: 200px;
}
#tile-1 .nav-tabs .active {
  background-color: transparent !important;
  border: none !important;
  color: #f4cc2f !important;
  z-index: 999;
}
#tile-1 .nav-tabs li a {
  position: relative;
  margin-right: 0px !important;
  padding: 8px 10px !important;
  font-size: 16px;
  border: none !important;
  color: #333;
}
#tile-1 .slider{
  max-width: 109px;
}
.hide-show, .hide-show {
  width: 100% !important;
  float: left;
}
.contant-radio {
  width: 100% !important;
  float: left;
}
.accordion{
  margin-top: 20px;
}
.carousel-caption .container{
  max-width: 100%;
}
.carousel-control-next, .carousel-control-prev{
  display: none;
}
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
  .banner, .m-fund{
    background-size: cover !important;
  }
  .nav-tabs .nav-item a {
    padding: 9.5px 16px;
    font-size: 18px;
}
.icon-a{
  margin:7px 0px
}
.col-md-5-custom , .col-md-2-custom {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.m-fund .custom-select, .m-fund .input-group {
  margin-bottom: 15px;
}
.m-fund button{
  margin-top:15px
}
}
.hidden {
  display: none;
/*   opacity: 0; */
}

.shown {
  display: visible;
  transition: all .5s ease-out;
  opacity: 1;
  color: red;
}
.hide-show, .hide-show{
  width: 100%;

}
.contant-radio{
  width:100%;

}
.main-gold-sec-bg label, .main-gold-sec-bg p{
  font-size: 14px;
}
.main-gold-sec-bg .form-control{
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #fcd96a;
}
.button-p{
    background-color: transparent;
    border:1px solid #999;
    color: #999;
    width: 32.33%;
    font-size: 14px;
    line-height: 30px;
}
.custom-select{
  border:0px;
  border-bottom: 1px solid #fcd96a;
  border-radius: 0px;
  background-color: transparent;
}
.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right; 
  color: #8d021f;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067"; 
  color: #8d021f;
}
.accordion > .card .card-header {
  margin-bottom: 0px;
}
.carousel-caption h1{
  font-size: 50px;
  padding-bottom: 18px;
}
.carousel-indicators {
  position: absolute;
  right: none;
  bottom: -55px;}
  .news-slide{
    padding: 50px 0px;
  }
.buy-now-slider{
  width: 150px;
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  text-align: center;
  padding:9px 10px;
  font-weight: 500;
  float: left;
  margin-right: 50px;
  }
  .app-btn{
    width: 150px;
    font-size: 16px;
    border: 1px solid #010101;
    color: #fff;
    background-color: #010101;
    display: block;
    text-align: center;
    padding:9px 10px;
    margin:0 10px;
    font-weight: 500;
    float: left;
  }
.carousel-caption {
  position: relative;
  width: 100%;
  z-index: 10;
  right: 0;
bottom: 0;
left: 0;

  padding-top: 50px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
}

</style>

