<template>
	<div>
		 <div class="bg-bottom">
    <div class="senco-adv">
      <div class="container">
        <h5 class="text-center mb-3" style="color: #ad6d00;">THE SENCO ADVANTAGE</h5>
        <div class="row">
          <div class="col-md-6">
            <img src="images/im5.png" width="100%">
          </div>
          <div class="col-md-6">
            <h1>The big fat
              wedding or
              the anniversary,
              it won’t pinch
              you anymore</h1>
          </div>
        </div>
        <div style="border:1px solid #c38d14; width: 100%;"></div>
        <p class="mt-5 text-center text-white mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voLorem
          ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut
          wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl</p>

        <div class="row">
          <div class="col-md-3">
            <div class="box-how">
              <img src="images/image1.jpg" width="100%">
              <h6 class="text-center">110+
                STORES ACROSS
                INDIA</h6>
              <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed
                diam nonummy nibh euismod
                tincidunt ut laoreet dolore</p>
              <a href="#">KNOW MORE..</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-how">
              <img src="images/image2.jpg" width="100%">
              <h6 class="text-center">110+
                STORES ACROSS
                INDIA</h6>
              <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed
                diam nonummy nibh euismod
                tincidunt ut laoreet dolore</p>
              <a href="#">KNOW MORE..</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-how">
              <img src="images/image3.jpg" width="100%">
              <h6 class="text-center">110+
                STORES ACROSS
                INDIA</h6>
              <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed
                diam nonummy nibh euismod
                tincidunt ut laoreet dolore</p>
              <a href="#">KNOW MORE..</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box-how">
              <img src="images/image4.jpg" width="100%">
              <h6 class="text-center">110+
                STORES ACROSS
                INDIA</h6>
              <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed
                diam nonummy nibh euismod
                tincidunt ut laoreet dolore</p>
              <a href="#">KNOW MORE..</a>
            </div>
          </div>
        </div>
        <hr />
        <footer>
          <div class="row">
            <div class="custom-col-2 text-center">
              <img src="images/im3.png" style="max-width: 100px;">
              <img src="images/logo.png" style="max-width: 100px; margin: 13px 0px;">
              <p class="text-left text-white">convenient method of
                accumulating vault stored,
                24K physical gold, in
                compliance with all
                applicable laws</p>
            </div>
            <div class="custom-col-2 text-center">
              <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">OUR BLOG</a></li>
                <li><a href="#"> FAQ</a></li>
                <li><a href="#"> HOW IT WORKS</a></li>
                <li><a href="#"> SENCO</a></li>
                <li><a href="#"> PARTNERS</a></li>
              </ul>
            </div>
            <div class="custom-col-2 text-center">
              <ul>
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">REFUND POLICY</a></li>
                <li><a href="#">GRIEVANCE</a></li>
              </ul>
            </div>
            <div class="custom-col-2 text-center">
              <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">OUR BLOG</a></li>
                <li><a href="#"> FAQ</a></li>
                <li><a href="#"> HOW IT WORKS</a></li>
                <li><a href="#"> SENCO</a></li>
                <li><a href="#"> PARTNERS</a></li>
              </ul>
            </div>
            <div class="custom-col-2 ">
              <p class="text-white">DOWNLOAD APP</p>
              <a class="mt-3 mb-4" href="#"><img src="images/app-st.png" width="100%"> </a>
              <a href="#"><img src="images/google-store.png" width="100%"> </a>
            </div>
          </div>
          <div class="news-se">
            <h4 class="text-white">Subscribe Our Newsletter
              and  Updates !</h4>
            <input type="email">
          </div>
        </footer>
      </div>

    </div>
  </div>
	</div>
</template>

<script>
	export default {


	}
</script>


<style scoped >

</style>