<template>
   <div>
	   
   </div>
</template>

<script>
	export default {
		name:'HomeComponent',

		mounted(){
			console.log("The Component is Mounted");
		},

		computed: {

		},

		methods:{

		}
	}
</script>