<template>
 <div id="app" >

<transition name="view" >
  <router-view></router-view>
</transition>
 </div>
</template>

<script>

import Header from '@/components/header';

import Carousel from './components/carouselComponnet';

export default {
  name: 'App',
 components:{
   Header,
   Carousel
 }
}
</script>

<style>
  .view-enter-active , .view-leave-active {
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out
  }

  .view-enter-active {
    transition-delay: 0.6s;
  }

  .view-enter, .view-leave-to {
    opacity: 0;
    transform: translateX(-130px);
  }

  .view-enter-to, .view-leave{
    opacity: 2;
    transform: translateX(0px);
  }

  .view-leave-to {
 opacity: 0;
    transform: translateY(100px);
  }

  .view-leave{
    opacity: 2;
    transform: translateY(100px);
  }
</style>

